demo/src/main/resources/META-INF/course.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.qilixiang1118.top/schema/course"
        elementFormDefault="qualified">

    <element name="course">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="courseName" type="string"/>
            <attribute name="score" type="double"/>
        </complexType>
    </element>

</schema>